*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo a img{
    width: 40px;
    height: 40px;
}
.first_nav{
    background: rgb(0, 0, 0);
}
.nav-item a{
    color: #fff;
    font-weight: 100;
}
.nav-item a:hover{
    color: #fff;
}
.inscription a{
    background: #fff;
    color: #000;
    font-weight: bolder;
    padding: auto 70px;
    border-radius: 16px;
}
.inscript:hover{
    background: rgb(190, 235, 49);
    color: #000;
}
nav{
   position: relative; 
   z-index: 9999;
}
.connecter_user a{
    color: #fff;
    border-bottom: 2px solid #ebe300;
}
.connecter_user a:hover{
    color: #fff;
    cursor: pointer;
}
.connecter_user:hover .plus{
    display: block;
}
.plus{
    display: none;
    position: relative;
}
.plus ul{
    background: #fff;
    width: 300%;
    position: absolute;
    box-shadow: 1px 1px 2px #000;
    padding-left: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.plus ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: none;
}
.plus ul li{
    padding: 5px 0;
}
.plus ul li a:hover{
    color: #000;
}
li{
    list-style: none;
}
.plus form button{
    border: none;
    color: #000;
    font-weight: bold;
    background: #fff;
}
.nb_res{
    position: absolute;
    background: red;
    top: -12px;
    right: -10px;
    bottom: 10px;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.activePers{
    border-bottom: 3px solid #ebe300;
}